
  <header>
    <mat-form-field appearance="fill">
      <mat-select [value]="deviceSelected" (valueChange)="onDeviceSelectChange($event)">
        <mat-option value="">No Device Selected</mat-option>
        <mat-option *ngFor="let device of availableDevices" [value]="device.deviceId">{{device.label}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </header>
  
<zxing-scanner
  [enable]="scannerEnabled"
  [torch]="torchEnabled"
  [(device)]="desiredDevice"
  (deviceChange)="onDeviceChange($event)"
  (scanSuccess)="onScanSuccess($event)"
  (camerasFound)="onCamerasFound($event)"
  (torchCompatible)="onTorchCompatible($event)"
></zxing-scanner>